body {
  margin: 0;
  font-family: "Maitree", serif;
  font-weight: 300;
  font-style: normal;
}
:root{
  --bg-color:#dc3545;
  --bg-color-transparent: rgba(220, 53, 69, 0.6);
}
.btndark, .btndark:hover{
  color:white !important;
  background:var(--bg-color) !important;
  cursor: pointer;
}
.btnoutline, .btnoutline:hover{
  border:solid 1px white;
  color: white;
}
.btnalternate, .btnalternate:hover{
  color: white !important;
  background-color: var(--bg-color-transparent) !important;
}
nav{
  z-index: 9999;
}
.nav-link{
  color:'white'!important;
  font-weight: bold;
}
.background{
  background-color: var(--bg-color);
  color: white;
}

h3, h4, h2{
  margin-bottom: 15px;
  color: var(--bg-color)
  
}

.bebas-neue{
    color: transparent;
  -webkit-text-stroke:2px #e10600;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
}
.alternatetext{
  color: transparent !important;
  -webkit-text-stroke:1px white;
}
h2{
  text-align: center;
;
  font-family: "Play", serif;
  
  font-weight: 700;
  font-style: normal;
}

a{
  text-decoration: none;
  color: inherit;
}
section > .container-fluid{
  padding: 7% 5%;
}
nav .container-fluid{
  padding: 1% 5%;

}


.navbar-brand img{
  width:40%;

}
@media (max-width:750px) {
  .navbar-brand img{
    width:60%;
  
  }
  .navbar-brand{
    width: 50%;

  }
}

/* //header */
.headersection{
  height: 100vh;
  background-image: url('./asset/jellofbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
 
}
.headerrelative{
 position: relative;
  height: 100%;
}
.headercontent{ height:100%; position:absolute; top:-196px; left:0; right:0;};
@media (max-width: 991.98px) {
  .headercontent,.headerrelative{
    position: static;
  }
.headercontent{
    top:-150px
  }
}
  
.headercontainer  *{
color: white;
}
.headercontainer{
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.headercircle {
  background-image: url('./asset/circlebackground.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-size: cover;
  background-position: center center;
  padding: 30px;
  height: 600px;
  width: 600px;
  text-transform: capitalize;
  

}
@media (max-width:750px) {
  .headercircle{
    width: 340px;
    height: 340px;
  }
}

.advert-icons{
  width: 68px;
  height: 68px;
}
.chefIcon{
  width: 100px;
  height: 70px;
}

#footer, #product{
  background: whitesmoke;
  color: black;
}
@media (max-width:750px) {
  .chefIcon{
    width: 90px;
    height: 60px;
  }
  .advert-icons{
    width: 58px;
    height: 58px;
  }
}

/* about about */
.aboutcontainer{
  background: var(--bg-color);
  color: white;
  padding:30px;
}

.productMarqueeSection{
   background: linear-gradient(to bottom, white, var(--bg-color));
}

/* animation animation */
.sectionAnimationLeft{
  scroll-behavior: smooth;
  animation: backInLeft;
  animation-duration: 1.5s;
}
.sectionAnimationDown{
  scroll-behavior: smooth;
  animation:fadeInDownBig;
  animation-duration: 1.2s;
}

.sectionAnimationUp{
  scroll-behavior: smooth;
  animation:fadeInUpBig;
  animation-duration: 1.2s;

}
.sectionAnimationRight{
  scroll-behavior: smooth;
  animation: backInRight;
  animation-duration: 1.2s;
}






/* quote section */
.quotesection{
  background: var(--bg-color);
  color: white;
}

.footer-icons a {
  font-size: 35px;
}
.footer-icons{
  display: flex;
  gap: 15px;
  align-items: center;
}

.product-heading {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  background-color: var(--bg-color);
  color: white;
  width: fit-content;
  padding: 20px;
  border-radius: 47%;
  
}

.product-heading h3 {
  font-size: 1.25rem;
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto;
  color: #555;
}
.fade-marquee {
  position: relative;
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  overflow: hidden;
}
